div {
    width: 400px;
    Padding-top: 20px ;
    Padding-right: 5px;
    Padding-bottom: 5px;
    Padding-left: 0px;
    Border-width: 2px; 
    Border-style: solid; 
    Border-color: rgb(3,3,2); 
    margin: 0;
}

p{
    width: 50%;
    padding: 0;
    border: 20px solid #333;
    margin: 0;
}
